<main class="contenedor">
    <form action="/create-account" method="POST" class="default-form">
        <div class="campo">
            <label for="nombre">Name</label>
            <input type="text" id="nombre" name="nombre" placeholder="Your Name" required>
        </div>
        <div class="campo">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Your Email" required>
        </div>
        <div class="campo">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Your Password" required>
        </div>
        <div class="campo">
            <label for="confirmar">Confirm Password</label>
            <input type="password" id="confirmar" name="confirmar" placeholder="Confirm Your Password" required>
        </div>
        <div class="campo acciones">
            <a href="/login" class="enlace">Are you already registered? Log in</a>
        </div>
        <div class="campo">
            <input type="submit" class="btn btn-azul" value="Create Account">
        </div>
    </form>
</main>